body {
  font-family: "Arial";
}

.carousel {
  outline: 1px dotted red; 
  position: relative;  
}

.carousel > img {
  margin: auto;
  max-width: 100%;
  height: auto;
  top: 0;
  opacity: 0;
  display: none;  
}

.carousel .show {
  display: block;
  opacity: 1;
}

.buttons {
  position: absolute; 
  outline: 1px solid green;   
}


