body {
  font-family: "Arial";
}

.carousel {
  outline: 1px dotted red; 
  position: relative;  
}

.carousel__img {
  max-width: 100%;
  height: auto;
  top: 0;
  opacity: 0;
  display: none;  
}

.show {
  display: block;
  z-index: 1;
  opacity: 1;
  animation: slideIn 2s ease;
}

.buttons {
  position: absolute;
  z-index: 2;
}


@keyframes show {
  to {
    opacity: 1;
  }
}
